<div class="gallery">
  <h3 class="title">Galerie</h3>
  <div class="pictures">
    {% for file in site.static_files %}
      {% if file.path contains include.folder %}
        {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}
          {% assign filenameparts = file.path | split: "/" %}
          {% assign filename = filenameparts | last | replace: file.extname,"" %}
          <a href="{{ site.gh_url }}{{ file.path }}" title="{{ filename }}">
            <img src="https://images.weserv.nl/?url={{ site.gh_url | replace: 'http://','' | replace: 'https://','' }}{{ file.path }}&w=400&h=400&output=jpg&q=50&t=square" alt="{{ filename }}" title="{{ filename }}" />
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

