<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}{%- if page.title -%}&nbsp;|&nbsp;{{ page.title }}{%- endif -%}</title>
<link href="/assets/css/styles.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.9.97/css/materialdesignicons.min.css">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<meta property="og:url" content="http://majorset.be" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Major Set" />
<meta property="og:description" content="Major Set est un groupe de musique belge composé de Fanny Crucq aux percussions, de Coline Everaerts au chant et instruments à vent et de Raphaël Medaer au piano. Fondé en 2018 à Braine-le-Château, Major Set compose des titres aux influences jazz, swing et rock." />
<meta property="og:image" content="http://majorset.be/assets/images/logo.png" />
<meta name="description" content="Major Set est un groupe de musique belge composé de Fanny Crucq aux percussions, de Coline Everaerts au chant et instruments à vent et de Raphaël Medaer au piano. Fondé en 2018 à Braine-le-Château, Major Set compose des titres aux influences jazz, swing et rock." />
